<h1>{{title}}</h1>
<h2><a href="{{page.url}}">{{description}}</a></h2>
<img src="{{image}}" alt="{{description}}" width="100%" height="100%"/>
<p>{{metadata.contact.info}}</p>
<p style="padding-top:15px;"><a href="{{metadata.contact.wa}}" class="button">{{metadata.contact.was}}</a> </p>
<p style="padding-top:15px;"><a href="{{metadata.contact.phone}}" class="button button-outline">{{metadata.contact.call}}</a></p>
<p style="padding-top:15px;"><a href="{{metadata.contact.email}}" class="button">{{metadata.contact.sent}}</a></p>