---
layout: layouts/home.njk
permalink: /posapp/
eleventyNavigation:
  key: Applikasi
  order: 2
---

<h1><a href="/">Fitur Aplikasi Toko</a></h1>
{% set postslist = collections.posts %}
{% include "postslist.njk" %}
