---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<h1><a href="/">{{home.subtitle}}</a></h1>
<h2>{{home.subdescription}}</h2>
<p>{{home.intro}}</p>
<h3><a href="/">{{home.dark}}</a></h3>
<p>{{home.text1}}</p>
<h3><a href="/">{{home.fitur}}</a></h3>
<p>{{home.text2}}</p>
<h3><a href="/">{{home.web}}</a></h3>
<p>{{home.text3}}</p>
<h3><a href="/">{{home.full}}</a></h3>
<p>{{home.text4}}</p>
<p>{{home.text5}}</p>
<p><a href="{{home.link}}">{{home.text6}}</a></p>
