{% for post in postslist | reverse %}
<div class="row">
  <div class="column"> 
  <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
  <img src="{{ post.data.image }}" alt="{{post.data.description}}" width="100%" height="100%" loading="lazy" class="cover"/>
   </div>
    <div class="flip-card-back">
  <h3>
  <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h3>
  <p>{{post.data.description}}</p>
    {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
     <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% endfor %} 
      <p class="info">
      <a href="{{ post.url | url }}" class="link">{{post.data.title}} info</a>
      </p>
    </div>
  </div>
</div> 
  </div>
</div>
{% endfor %}
